.main-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}


.about-container{
    margin-top: 20px;
    width: 90%; /* Ajuste a largura conforme necessário */
    max-width: 800px; /* Define uma largura máxima para melhor controle */
    height: auto; /* Ajusta a altura automaticamente */
    display: flex;
    flex-direction: column;
}

.about-container h2{
    font-size: 2.5rem;
    font-weight: 700;
    color: #fff;
    text-align: center;
    padding: 10px;
    color: #fff;
    animation: p 1s ease-in-out;
}

.about-container p{
    font-size: 1rem; /* Ajuste o tamanho da fonte conforme necessário */
    color: #fff;
    padding: 20px;
    text-align: justify; /* Justifica o texto para melhor alinhamento */
    animation: text 1s ease-in-out;
    word-wrap: break-word; /* Permite a quebra de palavras longas */
    line-height: 1.6; /* Ajusta o espaçamento entre linhas */
}

.about-container span{
    color: #D70000;
}


@keyframes p{
    0%{
        opacity: 0;
        transform: translateY(20px);
    }

    100%{
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes text{
    0%{
        opacity: 0;
    }

    100%{
        opacity: 1;
    }
}

@keyframes up {
    from {
        transform: translateY(20px);
    }
    to {
        transform: translateY(0);
    }
}