.main-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    height: 90vh;
}


.about-container{
    margin-top: 30px;
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 40vh;
}

.about-container h2{
    font-size: 2.5rem;
    font-weight: 700;
    color: #fff;
    margin-bottom: 10px;
    text-align: center;
    padding: 10px;
    color: #fff;
    animation: p 1s ease-in-out;
}

.about-container p{
    font-size: .9rem;
    color: #fff;
    padding: 20px;
    text-align: left;
    letter-spacing: .1rem;
    animation: text 1s ease-in-out;
    line-height: 23px;
}

.about-container span{
    color: #D70000;
}


@keyframes p{
    0%{
        opacity: 0;
        transform: translateY(20px);
    }

    100%{
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes text{
    0%{
        opacity: 0;
    }

    100%{
        opacity: 1;
    }
}

@keyframes up {
    from {
        transform: translateY(20px);
    }
    to {
        transform: translateY(0);
    }
}